# /etc/systemd/system/unencryptm.service

[Unit]
Description=Google Drive (rclone) Unencrypt
AssertPathIsDirectory=/mnt/plexdrive
After=plexdrive.service

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount --allow-other --config /home/jack/.config/rclone/rclone.conf plexdrive: /plex/working/gd-movies
ExecStop=/bin/fusermount -u /plex/working/gd-movies
Restart=on-abort

[Install]
WantedBy=default.target
